<h1>All the foods</h1>

<%=button_to "Create a New Food", "foods/new", method: :get%>

<ul>
  <% for img in @foods do %>
  <li>

  <a href="/foods/<%=img.id%>"><%= image_tag img.image.url %><br></a>
    <%=  "#{img.name} - $#{img.price}"%>
  </li>


  <% end %>

</ul>

<p><%= button_to "Log Out", "/sessions", method: :delete%></p>
