
<div id="weather">
   <img id="bug" src="<%=@weather["current_observation"]["icon_url"] %>" alt="" /><br>
<%=@weather["current_observation"]["temp_f"].to_i %>° F     <br>
<%= %>
</div>


<h1>Get This Lunch, <%= current_user.username.capitalize%>!</h1>
<h5>Click on an image to find out where to get this lunch.</h5>

<div>
  <img id="pony" src="http://dash.ponychan.net/chan/files/src/136167943291.gif" alt="pony!!">
</div>
<ul>
  <% for img in @foods do %>
  <li>

  <a href="/foods/<%=img.id%>"><%= image_tag img.image.url %><br></a>
    <%=  "#{img.name} - #{number_to_currency(img.price)}"%>
  </li>


  <% end %>

</ul>

<ul>
  <li><%=button_to "Add a New Food", "foods/new", :class => "buttons", method: :get%></li>
  <li><%= button_to "Log Out", "/sessions", :class => "buttons", method: :delete%></li>
</ul>
