<center><%= button_to "Back To Foods","/foods",method: :get %>
  <%= button_to "Update This Food", edit_food_path,method: :get%>
<%= button_to "This Food Sucks", food_path(@food), method: :delete %></center>

<h1><%=@food.name %></h1>
<p id="food">
<%= image_tag @food.image.url %></p>
<p>
Cost: $<%= @food.price %><br>
Where to find it: <%= @food.location %>

<center></center>

<h2>Comments</h2>
<%= render partial: 'comments/comments', collection: @food.comments %>
<%= render partial: 'comments/form' %>
