<ul>
  <li><%= button_to "Back To Foods","/foods", :class => "buttons", method: :get %></li>
  <li><%= button_to "Update This Food", edit_food_path, :class => "buttons", method: :get%></li>
  <li><%= button_to "Delete This Food", food_path(@food), :class => "buttons", method: :delete %></li>
</ul>
<%flash.each do |message_type, message| %>
   <div class="alert"-<%= message_type %>"><h4><%= message %></h4></div>
 <% end %>
<div>
  <img id="pony" src="http://dash.ponychan.net/chan/files/src/136167943291.gif" alt="pony!!">
</div>
<h1>Get this <%=@food.name %>, yo!</h1>
<p>
<%= image_tag @food.image.url, :id => "food_img" %>
</p>
<p>
Cost: <%= number_to_currency(@food.price) %><br><br>
Where to find it: <%= @food.location %>
</p><br>

<h2>Comments</h2>

<%= render partial: 'comments/comments', collection: @food.comments %>
<%= render partial: 'comments/form' %>
